body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #65881A;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 {
    margin: 0;
    font-size: 36px;
}
.header .auth {
    display: flex;
    gap: 10px;
}

.nav a {
    color: #006400;
    text-decoration: none;
    font-weight: bold;
}
.search-container {
    padding: 20px;
    text-align: center;
}
.search-container input {
    width: 50%;
    padding: 10px;
    font-size: 16px;
}
.search-container input::placeholder {
    color: #65881A;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.icon {
    text-align: center;
}
.icon img {
    width: 100px;
    height: 100px;
}
.icon p {
    color: #006400;
    font-weight: bold;
}