body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

/* header */
.header {
    background-color: #65881A;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 {
    margin: 0;
    font-size: 36px;
}
.header .auth {
    display: flex;
    gap: 10px;
}

/* navbar */
.nav{
    display: flex;
    background-color: #C5CF5E;
}
.nav ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
}
.nav a {
    color: #006400;
    text-decoration: none;
    font-weight: bold;
}

.search-container {
    padding: 20px;
    text-align: center;
}
.search-container input {
    width: 50%;
    padding: 10px;
    font-size: 16px;
}
.search-container input::placeholder {
    color: #65881A;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.icon {
    text-align: center;
}
.icon img {
    width: 200px;
    height: 200px;
}
.icon p {
    color: #006400;
    font-weight: bold;
}

/* main content */
.content {
    padding: 20px
}
.content-header {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.content-header .search-container {
    width: 80%;
    text-align: right;
}
.content h1 {
    font-family: 'Literata', sans-serif;
    font-size: 60px;
    color: #65881A;
    margin: 0;
}
.content .subheading {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #65881A;
    margin: 0;
}
.recipe-cards {
    display: flex;
    gap: 20px;
    padding-top: 25px;
}
.recipe-card {
    width: 300px;
    height: 400px;

    /* temp color */
    background-color: #f0f0f0;
}
.comments-container {
    width: 100%;
    min-height: 300px;

    /* temp color */
    background-color: #f0f0f0;
}